
h1{
  color: 	#030000;
}
h2{
  color: 	#4682b4;
}

h3{
  color: #030000;

}

h4{
  color: #030000;
}

hr{
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 5%;
}
